@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin objectfit {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin gradiant {
    background-image: linear-gradient(-45deg, #b45800, #2f0079);
    background-image: -moz-linear-gradient(-45deg, #b45800, #2f0079);
    background-image: -webkit-linear-gradient(-45deg, #b45800, #2f0079);
    background-image: -ms-linear-gradient(-45deg, #b45800, #2f0079);
    background-image: -o-linear-gradient(-45deg, #b45800, #2f0079)
}


//mixins for devices responsive
//mobile mixin
@mixin mobile {
    @media (min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
        @content;
    }
}

//mobile landscape
@mixin mobilelscape {
    @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//tablet mixin
@mixin tablet {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//laptop mixin 
@mixin laptop {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}