//colors

$blue:#0065bd;
$red:#0065bd;
$white:#fff;
$black:#171d21;
$lightgray:#f8f8ff;

$fsize: 14px;


//devices breakpoints

$mobile-width:320px;
$mobilelscape-width:576px;
$tablet-width:768px;
$laptop-width:991px;
$desktop-width:1200px;