@import 'variables';
@import 'mixins';
@import 'reset';

//google font
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

//extends/inheritances

%background {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

%flight {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

%para {
    font-size: $fsize !important;
    font-family: 'Poppins', sans-serif;
    line-height: $fsize + 8;
    font-weight: 400;
}

%fmed {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

%fbold {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

%whitebox {
    background: $white;
    padding: 15px;
    border: 1px solid darken($black, 50%);
    margin-bottom: 15px;
}

%border {
    border: 1px solid lighten($black, 80%);
}

.fbold {
    @extend %fbold;
}

a.link,
.link {
    font-size: $fsize + 2;
    color: $blue;
    padding: 10px 25px;
    border: 1px solid $blue;
    float: left;
    margin-top: 15px;
    background: none;
    @include transition;

    &:hover {
        background: $blue;
        color: $white;
        border: 1px solid transparent;
    }
}

a {
    text-decoration: none;
    @include transition;

    &:hover {
        text-decoration: none;
    }

    @include transition;
}

.title-section {
    h2 {
        font-size: $fsize * 2.2;
        @extend %flight;

        span {
            @extend %fbold;
            color: $red;
        }

        a {
            color: $red;
        }
    }
}

.form-control {
    border-radius: 0;
    min-height: 35px;
}

body {
    @extend %para;
}

.fblue {
    color: $blue;
}

//header starts
header {

    .navbar-toggler {
        @include mobile {
            position: absolute;
            right: 10px;
        }
    }

    .navbar-collapse {
        @include mobile {
            background: #fff;
            padding: 25px;
            margin-top: 0;
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    //top header 
    .top-header {
        background: $blue;
        color: $white;
        @include transition;

        // .headercontact {
        //     span {
        //         &:first-child {
        //             &::after {
        //                 content: '|';
        //                 padding: 0 10px;
        //                 color: $white;
        //             }
        //         }
        //     }
        // }

        .social-links {
            a {
                padding: 10px;
                display: inline-block;

                .icomoon {
                    font-size: $fsize + 5;
                    color: $white;
                }
            }
        }
    }

    //top header ends 

    //nav starts
    .nav-container {

        @include mobile {
            padding-right: 0;
            padding-left: 0;
        }

        .navbar {
            background: $white;
            margin-top: 30px;
            position: relative;
            padding: 5px;

            @include mobile {
                height: 55px;
                margin-top: 0;
            }


            .navbar-brand {
                padding: 0;

                img {
                    width: 225px;
                    @include transition;
                }
            }

            .nav-link {
                @extend %fmed;
                color: $black;
                text-transform: uppercase;

                &:hover {
                    color: $red;
                }

            }
        }

        .dropdown-menu {
            border-radius: 0;
            top: 46px;

            a {
                padding: 8px 12px;
                font-size: $fsize;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    //nav ends
}

//header ends

//dynamic header 
.fixed-theme {
    .top-header {
        margin-top: -73px;
    }

    .navbar {
        box-shadow: 0 2px 3px lighten($black, 50%);
        margin-top: 20px !important;
    }

    .navbar-brand {
        top: -6px !important;

        img {
            width: 205px !important;
        }
    }

    .dropdown-menu {
        border-radius: 0;
        top: 40px !important;

        a {
            padding: 8px 12px;
        }
    }
}

//home carousel starts
.carousel {
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            @include gradiant;
        }

        .carousel-caption {
            background: $blue;
            bottom: inherit;
            top: 35%;
            right: inherit;
            width: 500px;
            padding: 20px;
            border-radius: 5px;
            margin-left: -25%;
            left: 45%;
            text-align: left;

            @include mobile {
                width: 100%;
                left: 0;
                margin-left: 0;
            }

            .cartitle {
                @extend %flight;
                font-size: $fsize * 3;

                .secspan {
                    @extend %fbold;
                }
            }

            .h4 {
                font-size: $fsize + 2;
                color: $white;
                line-height: $fsize + 10;
                @extend %flight;
            }

            p {
                padding-top: 15px;
                padding-bottom: 20px;
            }

            a {
                background: $red;
                padding: 15px 0 15px 15px;
                color: $white;
                font-size: $fsize + 2;
                float: right;
                margin-right: -70px;

                @include mobile {
                    margin-right: 0;
                }

                .icomoon {
                    background: darken($red, 5%);
                    padding: 15px 15px 20px 15px;
                    font-size: $fsize + 6;
                    margin-left: 10px;
                }
            }
        }
    }

    .diricon {
        background: $white;
        width: 45px;
        height: 45px;
        text-align: center;
        top: inherit;
        bottom: 0;
        opacity: 1;

        .icomoon {
            color: $black;
        }

        @include mobile {
            bottom: 60px;
        }

        @include transition;

        &:hover {
            background: $blue;

            .icomoon {
                color: $white;
            }
        }
    }

    .carousel-control-prev {
        left: inherit;
        right: 47px;
    }
}

//home carouselends 

//highlets
.highlets {
    margin-top: -60px;
    position: relative;
    margin-bottom: 54px;

    .container {
        background: $blue;
        min-height: 50px;

        .col-lg-3.border-right {
            border-color: $white;
        }

        .highlet-icon {
            padding: 10px 0;

            .icomoon {
                font-size: 50px;
                color: $white;

            }

            article {
                color: $white;

                .h5 {
                    font-weight: normal;
                }

                p {
                    @extend %flight;
                }

                a {
                    color: $white;
                }
            }
        }
    }
}

// highlets ends 
.overlapSection {
    background: lighten($blue, 67%);
    min-height: 100px;
    color: $white;

    .red-box {
        background: $red;
        width: 460px;
        min-height: 300px;
        padding: 60px 30px;

        @include mobile {
            width: 100%;
        }

        h3 {
            font-size: $fsize + 4;
            text-transform: uppercase;
            padding-top: 20px;
        }

        h2 {
            font-size: $fsize * 3;
            padding: 15px 0;
        }

        p {
            font-size: $fsize + 1;
            @extend %flight;
            line-height: 26px;
        }

        a {
            font-size: $fsize + 2;
            color: $white;
            padding: 10px;
            border: 1px solid $white;
            float: left;
            margin-top: 15px;

            &:hover {
                background: $white;
                color: $red;
                border: 1px solid transparent;
            }
        }
    }
}

.title-row {
    h3 {
        font-size: $fsize * 2.2;
        @extend %flight;
        letter-spacing: -2px;

        span {
            @extend %fbold;
            color: $red;
        }
    }

    p {
        padding: 8px 0;
    }

    a {
        color: $red;

        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
}

.programs-home {
    .red-box {
        margin-right: -100px;
        z-index: 2;

        @include mobile {
            margin-right: 0;

        }
    }
}

.popularCoursesHome {
    background: lighten($blue, 67%);
    min-height: 100px;
    padding: 65px 0 0 0;
    margin: 65px 0 40px 0;

    .white-col {
        background: $white;
        height: 200px;
        @extend %border;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;

        figure {
            img {
                width: 125px;
                height: 108px;
                @include objectfit;

                @include mobile {
                    width: 75px;
                    height: 60px;
                }
            }
        }

        article {
            width: 100%;

            .h5 {
                font-weight: normal;
                padding-bottom: 0;
            }

            h6 {
                font-size: $fsize - 1;
                color: lighten($black, 50%);
                padding-bottom: 15px;
            }

            a {
                padding: 6px 10px;
                @extend %border;
                margin-right: 15px;
                color: $black;
                float: left;
                margin-top: 15px;

                @include mobile {
                    margin-right: 5px;
                    padding: 5px;
                }

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }

            p {
                @include mobile {
                    display: none;
                }
            }

            .rating {
                top: 0;
                right: 0;
                background: $red;
                padding: 2px 5px;
                color: $white;
            }

            padding-left: 15px;
        }
    }
}

.great-team {
    background: $lightgray;
    padding: 20px 0;
    display: none;

    .teamcol {
        padding-bottom: 25px;

        h6 {
            font-size: $fsize + 6;
            color: $red;
        }

        p {
            font-size: $fsize - 1;
            color: lighten($black, 30%);
        }
    }
}

.convaction-home {
    .red-box {
        margin-left: -100px;
        z-index: 2;

        @include mobile {
            margin-left: 0;
        }
    }
}

.sep-link {
    padding-left: 10px;
    border-left: 1px solid $black;
    margin-left: 10px;
}

.blogcol {
    @extend %border;
    font-size: $fsize - 1;

    img {
        @include transition;



        &:hover {
            filter: grayscale(100%);
        }
    }

    h5 {
        a {
            font-size: $fsize + 4;
            color: $blue;
        }
    }

    p {
        color: lighten($black, 40%);

    }

    .author {
        padding: 10px 10px 5px 10px;
        border-top: 1px solid lighten($black, 80%);
        margin: 0 10px 10px 10px;

        img {
            width: 42px !important;
            height: 42px;
            border-radius: 50%;
            margin-right: 10px;
        }

        span {
            color: lighten($black, 40%);

        }

    }
}

.ourstudents {
    span {
        bottom: 15px;
        left: 15px;
        color: $white;
        font-size: $fsize + 4;
    }

    article {
        top: 15px;
        left: 15px;
        color: $white;

        p {
            font-size: $fsize - 1;
            padding-top: 10px;
        }
    }
}

.home-gallery {
    .item {
        padding: 0;
        margin-top: -6px;
    }
}

.student-testimonials {
    @extend %background;
    background-image: url(../img/testimonials-bg.jpg);
    padding: 50px 0;
    margin-top: -10px;
    position: relative;

    &:before {
        content: '';
        background: $blue;
        opacity: 0.95;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .carousel-item {
        color: $white;
        height: auto;

        .icomoon {
            font-size: 50px;
            color: lighten($blue, 50%);
        }

        &:before {
            background: none;
        }

        .h4 {
            @extend %flight;
            padding: 15px 0;
        }

        .st-img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 15px 0;
            border: 3px solid $white;
        }

        span {
            font-size: $fsize - 1;
        }
    }

    .diricon {
        background: none;
        bottom: 50%;
        border-radius: 50%;

        @include mobile {
            bottom: inherit;
            top: 0;
        }

        &:hover {
            background: $blue;
        }
    }

    .carousel-control-next {
        right: -70px;

        @include mobile {
            right: 0;
        }
    }

    .carousel-control-prev {
        left: -70px;

        @include mobile {
            left: 0;
        }
    }
}

.subscribe {
    background: $red;
    padding: 50px 0;

    .h4 {
        font-size: $fsize + 10;
        @extend %flight;
        color: $white;
        margin-bottom: 0;

        @include mobile {
            padding-bottom: 10px;
        }
    }

    input[type="text"] {
        font-size: $fsize + 1;
        background: $white;
        height: 55px;
        border: none;
        width: 75%;

        @include mobile {
            width: 100%;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        background: $blue;
        color: $white;
        text-align: center;
        border: none;
        height: 56px;
        padding: 0 10px;
        text-transform: uppercase;

        @include mobile {
            width: 100%;
        }

        &:hover {
            background: $white;
            color: $blue;
        }
    }
}

footer {
    .footer-nav {
        background: $blue;
        padding: 30px 0;

        .nav {
            color: $white;

            span {
                font-size: $fsize + 4;
                @extend %fbold;
                padding-top: 6px;
                display: inline-block;
            }

            li {
                a {
                    color: $white;
                    font-size: $fsize - 1;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .bottom-footer {
        background: $white;
        padding: 20px 0;

        .footerbrand {
            img {
                width: 250px;
            }
        }

        .footer-social {
            a {
                margin: 12px;
                display: inline-block;

                @include mobile {
                    margin: 8px;
                }

                .icomoon {
                    font-size: 25px;

                    @include mobile {
                        font-size: 16px;
                    }

                }

                color:lighten($black, 50%);
                font-size:$fsize+3;

                &:hover {
                    color: $red;
                }
            }
        }

        .address {
            p {
                &:first-child {
                    color: lighten($black, 40%);
                    padding-bottom: 12px;
                }
            }

            p {
                span {
                    @extend %fbold;
                }
            }
        }

        #movetop {
            position: fixed;
            right: 10px;
            bottom: 15px;
            font-size: $fsize + 4;
            color: $white;
            display: none;
            width: 40px;
            height: 40px;
            background: $red;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;

            &:hover {
                background: $blue;
            }
        }
    }
}


//sub page styles 
.subpage-header {
    @extend %background;
    background-image: url(../img/subpage-header-background.jpg);
    height: 335px;
    position: relative;
    padding-top: 192px;

    @include mobile {
        padding-top: 109px;
        height: 225px;
    }

    &:before {
        content: '';
        @include gradiant;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
    }

    .title-box {
        padding: 10px;
        color: $white;

        .h1 {
            @extend %flight;
            color: $white;
            font-size: $fsize * 2 + 5;
            padding-bottom: 0;
            margin-bottom: 0;

            @include mobile {
                font-size: $fsize + 10;
                padding-top: 10px;
            }

            span {
                @extend %fbold;
            }
        }
    }
}

//sub page main 
.subpage-main {
    padding-bottom: 50px;
    min-height: 500px;

    p {
        color: lighten($black, 20%);
        text-align: justify;
        padding-bottom: 20px;
        line-height: $fsize + 12;
    }

    .main-container {
        background: $white;
        margin-top: -47px;
        position: relative;

        .h2 {
            font-size: $fsize + 8;
            color: $blue;
        }

        .h3 {
            font-size: $fsize + 6;
            color: $red;
        }

        .h4 {
            font-size: $fsize + 4;
            color: $blue;
        }

        .breadcrumb {
            color: $black;
            background: none;
            border-bottom: 1px solid lighten($black, 50%);
            border-radius: 0;

            .breadcrumb-item {
                a {
                    color: $black;
                }
            }

        }

        .active {
            color: $red !important;
        }

        //left container
        .left-col {
            .h2 {
                text-transform: uppercase;
                padding: 25px 0;
                border-bottom: 1px solid lighten($black, 50%);
                margin-right: -15px;
            }

            ul {
                list-style: none;

                a {
                    font-size: $fsize - 1;
                    color: $black;
                    padding: 7px 0;
                    display: block;
                    @extend %fmed;

                    &:hover {
                        color: $red;
                    }

                }
            }
        }

        //left container ends 

        //rigtht container
        .right-col {
            padding: 20px;
            min-height: 500px;
        }

        // right container ends

    }
}

.simple-col {
    min-height: 170px;
}

.list-items {
    list-style: none;
    padding: 10px 0;

    li {
        padding: 3px 0;

        &:before {
            content: "\f05d";
            font-family: 'icomoon' !important;
            padding-right: 5px;
        }
    }
}

.blog-col {

    .h6 {
        line-height: $fsize + 10;

        a {
            color: $blue;
        }
    }
}

.article-features {
    small {
        padding-right: 20px;
        display: inline-block;
        font-size: $fsize - 2;
    }
}

.moreblog {
    .h6 {
        a {
            font-size: $fsize + 1;
            line-height: $fsize * 2 - 5;
            color: $black;
        }
    }
}

.form-group {
    ::placeholder {
        font-size: $fsize - 1;
        color: lighten($black, 60%);
    }
}

.custom-title {
    .h1 {
        font-size: $fsize * 2;
        line-height: $fsize * 3;
    }
}

.formbox {
    background: $lightgray;
    padding: 20px;

    .form-control {
        height: 45px;
    }
}

.career-col {
    margin-bottom: 25px;

    .h4 {
        padding: 5px 0;
        color: $black !important;
        @extend %fbold;
    }
}

.job-item {
    background: $white;
    padding: 20px;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 15px;

    ul,
    li {
        list-style: none;
    }
}

.job-features {
    small {
        padding-right: 30px;
    }
}