/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.student-testimonials, .subpage-header {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.title-section h2, .carousel .carousel-item .carousel-caption .cartitle, .carousel .carousel-item .carousel-caption .h4, .highlets .container .highlet-icon article p, .overlapSection .red-box p, .title-row h3, .student-testimonials .carousel-item .h4, .subscribe .h4, .subpage-header .title-box .h1 {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 14px !important;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  font-weight: 400;
}

header .nav-container .navbar .nav-link, .subpage-main .main-container .left-col ul a {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.fbold, .title-section h2 span, .carousel .carousel-item .carousel-caption .cartitle .secspan, .title-row h3 span, footer .footer-nav .nav span, footer .bottom-footer .address p span, .subpage-header .title-box .h1 span, .career-col .h4 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.popularCoursesHome .white-col, .popularCoursesHome .white-col article a, .blogcol {
  border: 1px solid #e4e9ec;
}

a.link,
.link {
  font-size: 16px;
  color: #0065bd;
  padding: 10px 25px;
  border: 1px solid #0065bd;
  float: left;
  margin-top: 15px;
  background: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a.link:hover,
.link:hover {
  background: #0065bd;
  color: #fff;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
}

.title-section h2 {
  font-size: 30.8px;
}

.title-section h2 span {
  color: #0065bd;
}

.title-section h2 a {
  color: #0065bd;
}

.form-control {
  border-radius: 0;
  min-height: 35px;
}

.fblue {
  color: #0065bd;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-toggler {
    position: absolute;
    right: 10px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-collapse {
    background: #fff;
    padding: 25px;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}

header .top-header {
  background: #0065bd;
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .top-header .social-links a {
  padding: 10px;
  display: inline-block;
}

header .top-header .social-links a .icomoon {
  font-size: 19px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .nav-container {
    padding-right: 0;
    padding-left: 0;
  }
}

header .nav-container .navbar {
  background: #fff;
  margin-top: 30px;
  position: relative;
  padding: 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .nav-container .navbar {
    height: 55px;
    margin-top: 0;
  }
}

header .nav-container .navbar .navbar-brand {
  padding: 0;
}

header .nav-container .navbar .navbar-brand img {
  width: 225px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .nav-container .navbar .nav-link {
  color: #171d21;
  text-transform: uppercase;
}

header .nav-container .navbar .nav-link:hover {
  color: #0065bd;
}

header .nav-container .dropdown-menu {
  border-radius: 0;
  top: 46px;
}

header .nav-container .dropdown-menu a {
  padding: 8px 12px;
  font-size: 14px;
}

header .nav-container .dropdown-menu a:hover {
  background: #0065bd;
  color: #fff;
}

.fixed-theme .top-header {
  margin-top: -73px;
}

.fixed-theme .navbar {
  -webkit-box-shadow: 0 2px 3px #8a9fad;
          box-shadow: 0 2px 3px #8a9fad;
  margin-top: 20px !important;
}

.fixed-theme .navbar-brand {
  top: -6px !important;
}

.fixed-theme .navbar-brand img {
  width: 205px !important;
}

.fixed-theme .dropdown-menu {
  border-radius: 0;
  top: 40px !important;
}

.fixed-theme .dropdown-menu a {
  padding: 8px 12px;
}

.carousel .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  width: 100%;
}

.carousel .carousel-item::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #b45800, #2f0079);
  background-image: -o-linear-gradient(-45deg, #b45800, #2f0079);
}

.carousel .carousel-item .carousel-caption {
  background: #0065bd;
  bottom: inherit;
  top: 35%;
  right: inherit;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  margin-left: -25%;
  left: 45%;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel .carousel-item .carousel-caption {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

.carousel .carousel-item .carousel-caption .cartitle {
  font-size: 42px;
}

.carousel .carousel-item .carousel-caption .h4 {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.carousel .carousel-item .carousel-caption p {
  padding-top: 15px;
  padding-bottom: 20px;
}

.carousel .carousel-item .carousel-caption a {
  background: #0065bd;
  padding: 15px 0 15px 15px;
  color: #fff;
  font-size: 16px;
  float: right;
  margin-right: -70px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel .carousel-item .carousel-caption a {
    margin-right: 0;
  }
}

.carousel .carousel-item .carousel-caption a .icomoon {
  background: #0057a4;
  padding: 15px 15px 20px 15px;
  font-size: 20px;
  margin-left: 10px;
}

.carousel .diricon {
  background: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  top: inherit;
  bottom: 0;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.carousel .diricon .icomoon {
  color: #171d21;
}

@media (min-width: 320px) and (max-width: 575px) {
  .carousel .diricon {
    bottom: 60px;
  }
}

.carousel .diricon:hover {
  background: #0065bd;
}

.carousel .diricon:hover .icomoon {
  color: #fff;
}

.carousel .carousel-control-prev {
  left: inherit;
  right: 47px;
}

.highlets {
  margin-top: -60px;
  position: relative;
  margin-bottom: 54px;
}

.highlets .container {
  background: #0065bd;
  min-height: 50px;
}

.highlets .container .col-lg-3.border-right {
  border-color: #fff;
}

.highlets .container .highlet-icon {
  padding: 10px 0;
}

.highlets .container .highlet-icon .icomoon {
  font-size: 50px;
  color: #fff;
}

.highlets .container .highlet-icon article {
  color: #fff;
}

.highlets .container .highlet-icon article .h5 {
  font-weight: normal;
}

.highlets .container .highlet-icon article a {
  color: #fff;
}

.overlapSection {
  background: white;
  min-height: 100px;
  color: #fff;
}

.overlapSection .red-box {
  background: #0065bd;
  width: 460px;
  min-height: 300px;
  padding: 60px 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .overlapSection .red-box {
    width: 100%;
  }
}

.overlapSection .red-box h3 {
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 20px;
}

.overlapSection .red-box h2 {
  font-size: 42px;
  padding: 15px 0;
}

.overlapSection .red-box p {
  font-size: 15px;
  line-height: 26px;
}

.overlapSection .red-box a {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  float: left;
  margin-top: 15px;
}

.overlapSection .red-box a:hover {
  background: #fff;
  color: #0065bd;
  border: 1px solid transparent;
}

.title-row h3 {
  font-size: 30.8px;
  letter-spacing: -2px;
}

.title-row h3 span {
  color: #0065bd;
}

.title-row p {
  padding: 8px 0;
}

.title-row a {
  color: #0065bd;
}

.title-row a:hover {
  color: #0065bd;
  text-decoration: underline;
}

.programs-home .red-box {
  margin-right: -100px;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .programs-home .red-box {
    margin-right: 0;
  }
}

.popularCoursesHome {
  background: white;
  min-height: 100px;
  padding: 65px 0 0 0;
  margin: 65px 0 40px 0;
}

.popularCoursesHome .white-col {
  background: #fff;
  height: 200px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.popularCoursesHome .white-col figure img {
  width: 125px;
  height: 108px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 320px) and (max-width: 575px) {
  .popularCoursesHome .white-col figure img {
    width: 75px;
    height: 60px;
  }
}

.popularCoursesHome .white-col article {
  width: 100%;
  padding-left: 15px;
}

.popularCoursesHome .white-col article .h5 {
  font-weight: normal;
  padding-bottom: 0;
}

.popularCoursesHome .white-col article h6 {
  font-size: 13px;
  color: #8a9fad;
  padding-bottom: 15px;
}

.popularCoursesHome .white-col article a {
  padding: 6px 10px;
  margin-right: 15px;
  color: #171d21;
  float: left;
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .popularCoursesHome .white-col article a {
    margin-right: 5px;
    padding: 5px;
  }
}

.popularCoursesHome .white-col article a:hover {
  background: #0065bd;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .popularCoursesHome .white-col article p {
    display: none;
  }
}

.popularCoursesHome .white-col article .rating {
  top: 0;
  right: 0;
  background: #0065bd;
  padding: 2px 5px;
  color: #fff;
}

.great-team {
  background: #f8f8ff;
  padding: 20px 0;
  display: none;
}

.great-team .teamcol {
  padding-bottom: 25px;
}

.great-team .teamcol h6 {
  font-size: 20px;
  color: #0065bd;
}

.great-team .teamcol p {
  font-size: 13px;
  color: #566c7b;
}

.convaction-home .red-box {
  margin-left: -100px;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 575px) {
  .convaction-home .red-box {
    margin-left: 0;
  }
}

.sep-link {
  padding-left: 10px;
  border-left: 1px solid #171d21;
  margin-left: 10px;
}

.blogcol {
  font-size: 13px;
}

.blogcol img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.blogcol img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.blogcol h5 a {
  font-size: 18px;
  color: #0065bd;
}

.blogcol p {
  color: #6c8698;
}

.blogcol .author {
  padding: 10px 10px 5px 10px;
  border-top: 1px solid #e4e9ec;
  margin: 0 10px 10px 10px;
}

.blogcol .author img {
  width: 42px !important;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.blogcol .author span {
  color: #6c8698;
}

.ourstudents span {
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 18px;
}

.ourstudents article {
  top: 15px;
  left: 15px;
  color: #fff;
}

.ourstudents article p {
  font-size: 13px;
  padding-top: 10px;
}

.home-gallery .item {
  padding: 0;
  margin-top: -6px;
}

.student-testimonials {
  background-image: url(../img/testimonials-bg.jpg);
  padding: 50px 0;
  margin-top: -10px;
  position: relative;
}

.student-testimonials:before {
  content: '';
  background: #0065bd;
  opacity: 0.95;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.student-testimonials .carousel-item {
  color: #fff;
  height: auto;
}

.student-testimonials .carousel-item .icomoon {
  font-size: 50px;
  color: #bde0ff;
}

.student-testimonials .carousel-item:before {
  background: none;
}

.student-testimonials .carousel-item .h4 {
  padding: 15px 0;
}

.student-testimonials .carousel-item .st-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 15px 0;
  border: 3px solid #fff;
}

.student-testimonials .carousel-item span {
  font-size: 13px;
}

.student-testimonials .diricon {
  background: none;
  bottom: 50%;
  border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .student-testimonials .diricon {
    bottom: inherit;
    top: 0;
  }
}

.student-testimonials .diricon:hover {
  background: #0065bd;
}

.student-testimonials .carousel-control-next {
  right: -70px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .student-testimonials .carousel-control-next {
    right: 0;
  }
}

.student-testimonials .carousel-control-prev {
  left: -70px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .student-testimonials .carousel-control-prev {
    left: 0;
  }
}

.subscribe {
  background: #0065bd;
  padding: 50px 0;
}

.subscribe .h4 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subscribe .h4 {
    padding-bottom: 10px;
  }
}

.subscribe input[type="text"] {
  font-size: 15px;
  background: #fff;
  height: 55px;
  border: none;
  width: 75%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subscribe input[type="text"] {
    width: 100%;
  }
}

.subscribe input[type="text"]:focus {
  outline: none;
}

.subscribe button {
  background: #0065bd;
  color: #fff;
  text-align: center;
  border: none;
  height: 56px;
  padding: 0 10px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subscribe button {
    width: 100%;
  }
}

.subscribe button:hover {
  background: #fff;
  color: #0065bd;
}

footer .footer-nav {
  background: #0065bd;
  padding: 30px 0;
}

footer .footer-nav .nav {
  color: #fff;
}

footer .footer-nav .nav span {
  font-size: 18px;
  padding-top: 6px;
  display: inline-block;
}

footer .footer-nav .nav li a {
  color: #fff;
  font-size: 13px;
}

footer .footer-nav .nav li a:hover {
  text-decoration: underline;
}

footer .bottom-footer {
  background: #fff;
  padding: 20px 0;
}

footer .bottom-footer .footerbrand img {
  width: 250px;
}

footer .bottom-footer .footer-social a {
  margin: 12px;
  display: inline-block;
  color: #8a9fad;
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .bottom-footer .footer-social a {
    margin: 8px;
  }
}

footer .bottom-footer .footer-social a .icomoon {
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .bottom-footer .footer-social a .icomoon {
    font-size: 16px;
  }
}

footer .bottom-footer .footer-social a:hover {
  color: #0065bd;
}

footer .bottom-footer .address p:first-child {
  color: #6c8698;
  padding-bottom: 12px;
}

footer .bottom-footer #movetop {
  position: fixed;
  right: 10px;
  bottom: 15px;
  font-size: 18px;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  background: #0065bd;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

footer .bottom-footer #movetop:hover {
  background: #0065bd;
}

.subpage-header {
  background-image: url(../img/subpage-header-background.jpg);
  height: 335px;
  position: relative;
  padding-top: 192px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subpage-header {
    padding-top: 109px;
    height: 225px;
  }
}

.subpage-header:before {
  content: '';
  background-image: linear-gradient(-45deg, #b45800, #2f0079);
  background-image: -o-linear-gradient(-45deg, #b45800, #2f0079);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.subpage-header .title-box {
  padding: 10px;
  color: #fff;
}

.subpage-header .title-box .h1 {
  color: #fff;
  font-size: 33px;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subpage-header .title-box .h1 {
    font-size: 24px;
    padding-top: 10px;
  }
}

.subpage-main {
  padding-bottom: 50px;
  min-height: 500px;
}

.subpage-main p {
  color: #41525d;
  text-align: justify;
  padding-bottom: 20px;
  line-height: 26px;
}

.subpage-main .main-container {
  background: #fff;
  margin-top: -47px;
  position: relative;
}

.subpage-main .main-container .h2 {
  font-size: 22px;
  color: #0065bd;
}

.subpage-main .main-container .h3 {
  font-size: 20px;
  color: #0065bd;
}

.subpage-main .main-container .h4 {
  font-size: 18px;
  color: #0065bd;
}

.subpage-main .main-container .breadcrumb {
  color: #171d21;
  background: none;
  border-bottom: 1px solid #8a9fad;
  border-radius: 0;
}

.subpage-main .main-container .breadcrumb .breadcrumb-item a {
  color: #171d21;
}

.subpage-main .main-container .active {
  color: #0065bd !important;
}

.subpage-main .main-container .left-col .h2 {
  text-transform: uppercase;
  padding: 25px 0;
  border-bottom: 1px solid #8a9fad;
  margin-right: -15px;
}

.subpage-main .main-container .left-col ul {
  list-style: none;
}

.subpage-main .main-container .left-col ul a {
  font-size: 13px;
  color: #171d21;
  padding: 7px 0;
  display: block;
}

.subpage-main .main-container .left-col ul a:hover {
  color: #0065bd;
}

.subpage-main .main-container .right-col {
  padding: 20px;
  min-height: 500px;
}

.simple-col {
  min-height: 170px;
}

.list-items {
  list-style: none;
  padding: 10px 0;
}

.list-items li {
  padding: 3px 0;
}

.list-items li:before {
  content: "\f05d";
  font-family: 'icomoon' !important;
  padding-right: 5px;
}

.blog-col .h6 {
  line-height: 24px;
}

.blog-col .h6 a {
  color: #0065bd;
}

.article-features small {
  padding-right: 20px;
  display: inline-block;
  font-size: 12px;
}

.moreblog .h6 a {
  font-size: 15px;
  line-height: 23px;
  color: #171d21;
}

.form-group ::-webkit-input-placeholder {
  font-size: 13px;
  color: #a8b8c2;
}

.form-group :-ms-input-placeholder {
  font-size: 13px;
  color: #a8b8c2;
}

.form-group ::-ms-input-placeholder {
  font-size: 13px;
  color: #a8b8c2;
}

.form-group ::placeholder {
  font-size: 13px;
  color: #a8b8c2;
}

.custom-title .h1 {
  font-size: 28px;
  line-height: 42px;
}

.formbox {
  background: #f8f8ff;
  padding: 20px;
}

.formbox .form-control {
  height: 45px;
}

.career-col {
  margin-bottom: 25px;
}

.career-col .h4 {
  padding: 5px 0;
  color: #171d21 !important;
}

.job-item {
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  margin-bottom: 15px;
}

.job-item ul,
.job-item li {
  list-style: none;
}

.job-features small {
  padding-right: 30px;
}
/*# sourceMappingURL=style.css.map */